name: Main

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,12 * * *"

env:
  DATABASE_URL: ${{secrets.DATABASE_URL}}
  MAIL_AUTH_USER: ${{secrets.MAIL_AUTH_USER}}
  MAIL_AUTH_PASS: ${{secrets.MAIL_AUTH_PASS}}

jobs:
  Main:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Install packages
        run: deno install
      - name: Install patchwright browser with dependencies
        run: npx patchright install chrome --with-deps --force
      - name: Change to claimer directory & start claimer
        run: cd apps/claimer && deno task start
