name: Main

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,12 * * *"

env:
  DATABASE_URL: ${{secrets.DATABASE_URL}}
  MAIL_AUTH_USER: ${{secrets.MAIL_AUTH_USER}}
  MAIL_AUTH_PASS: ${{secrets.MAIL_AUTH_PASS}}

jobs:
  scrape:
    name: Scrape
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Cache Deno dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/deno
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-deno-${{ hashFiles('**/deno.lock') }}
          restore-keys: |
            ${{ runner.os }}-deno-

      - name: Install packages
        run: deno install

      - name: Install patchwright browser with dependencies
        run: npx patchright install chrome --with-deps

      - name: Start scraper
        run: deno task scraper:scrape

  claim:
    name: Claim
    runs-on: ubuntu-22.04
    needs: scrape
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Cache Deno dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/deno
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-deno-${{ hashFiles('**/deno.lock') }}
          restore-keys: |
            ${{ runner.os }}-deno-

      - name: Install packages
        run: deno install

      - name: Install patchwright browser with dependencies
        run: npx patchright install chrome --with-deps

      - name: Start claimer
        run: deno task claimer:claim
